**Содержание темы**

1. [Часть 1. Matplotlib](https://colab.research.google.com/drive/1MrLrc38lQWxjimSPKoePq22bav6X5zb9?usp=sharing)

2. Часть 2. Pandas

# Pandas

## Знакомство с библиотекой

Как вы уже знаете, нейронные сети работают с числами - получают их на вход и выдают на выходе. Для преобразования любой информации в язык чисел мы пользуемся библиотекой NumPy.

Но перед тем как работать с данными, их нужно проанализировать, обработать. И как раз в этом нам поможет библиотека <a href="http://pandas.pydata.org/">**Pandas**</a>. Она претендует на звание самого мощного и гибкого средства для анализа данных с открытым исходным кодом.

И как обычно, начнем с подключения библиотеки:

In [ ]:
# Загрузка модуля pandas
import pandas as pd

С помощью библиотеки **Pandas** вы обработаете табличные данные, что схоже с работой в Excel. В вашем распоряжении две структуры данных:

- **DataFrame** - двухмерный массив, имеет табличную структуру, легко изменяется по размерам, может содержать в себе данные разных типов
- **Series** - одномерный массив с именованными индексами (чаще всего, данные одного типа).

DataFrame - это таблица. Она состоит из столбцов. Каждый такой столбец - это структура Series.

Оба типа можно создавать вручную с помощью функций из самой библиотеки:
- `pandas.Series(data=None, index=None, dtype=None)`
- `pandas.DataFrame(data=None, index=None, columns=None, dtype=None)`

Аргументы:
- **data** - данные, которые необходимо записать в структуру
- **index** - индексы строк
- **columns** - названия столбцов
- **dtype** - тип данных

## Создание датасета

А теперь попробуйте самостоятельно воспроизвести датасет:

<img src="https://i.imgur.com/FUCGiKP.png">

Первое, что вам нужно сделать, это создать списки, содержащие названия столбцов, индексы и сами данные:

In [ ]:
# Создание списка с названиями столбцов
columns = ['country', 'province', 'region_1', 'region_2']

Вовсе необязательно проставлять индексы в списке, поскольку они автоматически нумеруются, начиная с нуля: 0, 1, 2, 3... и так далее. Но в таблице, которую вы воссоздаете, индексы указаны не по порядку. Поэтому вам нужно самостоятельно создать список с нужными индексами.

Помните, что индекс нужен для того, чтобы идентифицировать каждую строчку. Поэтому они не должны повторяться:

In [ ]:
# Создание списка с индексами строк
index = [0, 1, 10, 100]

Отлично! Следующий шаг – создание списка с данными. Список будет двумерным, таким образом каждая строка таблицы идет отдельным списком:

In [ ]:
# Создание списка с данными ячеек
data = [['Italy', 'Sicily & Sardinia', 'Etna', 'NaN'], 
        ['Portugal', 'Douro', 'NaN', 'NaN'],
        ['US', 'California', 'Napa Valley', 'Napa'],
        ['US', 'New York', 'Finger Lakes', 'Finger Lakes']]

Пока что вы создали три переменные, которые не имеют никакой связи между собой. 

Чтобы связать эти данные и образовать датафрейм, используйте метод `.DataFrame`.

Этот метод принимает следующие параметры:
- список с данными;
- columns - список с названиями столбцов;
- index - список с индексами.

Теперь создайте датафрейм и выведите его на экран:

In [ ]:
# Создание датафрейма (таблицы). В качестве параметров передаются названия столбцов, индексы и сами данные
df = pd.DataFrame(data, columns=columns, index=index)

# Отображение таблицы
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

Как вы знаете, индексы можно и не указывать. Попробуйте убрать этот параметр:

In [ ]:
# Создание датафрейма. В качестве параметров используем только названия столбцов и данные
df = pd.DataFrame(data, columns=columns)

# Отображение таблицы
df

    country           province      region_1      region_2
0     Italy  Sicily & Sardinia          Etna           NaN
1  Portugal              Douro           NaN           NaN
2        US         California   Napa Valley          Napa
3        US           New York  Finger Lakes  Finger Lakes

Правильно, индексы были созданы автоматически! Если вы все-таки решите вручную создать индексы, будьте внимательны. Если количество элементов в списке с индексами не будет соответствовать количеству строк таблицы, компилятор выдаст ошибку.

Вы можете заметить, что функция `print()` не использована для вывода таблицы. Чтобы понять, почему, попробуйте отобразить датафрейм с помощью этой функции:

In [ ]:
print(df)

    country           province      region_1      region_2
0     Italy  Sicily & Sardinia          Etna           NaN
1  Portugal              Douro           NaN           NaN
2        US         California   Napa Valley          Napa
3        US           New York  Finger Lakes  Finger Lakes

Выглядит не очень красиво. Запомните эту особенность и впредь не используйте `print()` для отображения датафреймов. Вместо этого либо просто пишите название датафрейма в последней строке, либо воспользуйтесь функцией `display()`. Особенно удобно ее применять в случаях, когда нужно вывести несколько датафреймов:

In [ ]:
display(df, df)

    country           province      region_1      region_2
0     Italy  Sicily & Sardinia          Etna           NaN
1  Portugal              Douro           NaN           NaN
2        US         California   Napa Valley          Napa
3        US           New York  Finger Lakes  Finger Lakes

    country           province      region_1      region_2
0     Italy  Sicily & Sardinia          Etna           NaN
1  Portugal              Douro           NaN           NaN
2        US         California   Napa Valley          Napa
3        US           New York  Finger Lakes  Finger Lakes

Или так:

In [ ]:
print('Первый датафрейм:')
display(df)
print('Второй датафрейм:')
display(df)

Первый датафрейм:

    country           province      region_1      region_2
0     Italy  Sicily & Sardinia          Etna           NaN
1  Portugal              Douro           NaN           NaN
2        US         California   Napa Valley          Napa
3        US           New York  Finger Lakes  Finger Lakes

Второй датафрейм:

    country           province      region_1      region_2
0     Italy  Sicily & Sardinia          Etna           NaN
1  Portugal              Douro           NaN           NaN
2        US         California   Napa Valley          Napa
3        US           New York  Finger Lakes  Finger Lakes

Вот и все! Таким образом вы самостоятельно создали датасет. Но такой подход вы редко будете использовать. Куда чаще вам нужно будет создавать датафреймы из уже готовых файлов.

## Загрузка и запись данных

In [ ]:
# Загрузка файла из облака в colab
import gdown
gdown.download('https://storage.yandexcloud.net/aiueducation/Content/base/l9/wine_base.csv', None, quiet=True)

'wine_base.csv'

Функции вида `pd.read_формат()` и `pd.to_формат()`
считывают и записывают данные соответственно.

Cчитайте данные в формате **csv** (comma separated value) функцией <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv"> `pd.read_csv()`</a>.

Список самых важных аргументов:
 - **filepath_or_buffer** - текстовая строка с названием (адресом) файла;
 - **sep** - символ, которым отделены элементы датафрейма в файле (по умолчанию ",");
 - **header** - номер строки, в которой в файле указаны названия столбцов (**None**, если нет);
 - **names** - список с названиями столбцов;
 - **index_col** - столбец, из которого надо взять названия строк (номер столбца, список или ничего).

Создадайте переменную **data**, в которую с помощью функции `pd.read_csv()` загрузите данные из файла **wine_base.csv**:

In [ ]:
data = pd.read_csv('wine_base.csv')

Посмотрите, что из себя представляют загруженные данные:

In [ ]:
data

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...,...
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

Чтобы не загромождать рабочее пространство, используйте метод `.head()`. Он выведет первые пять строк датафрейма (или другое количество, которое укажете в скобках):

In [ ]:
data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

По такому же принципу работает метод `.tail()`, только выводит *последние* пять строк (или другое количество, которое укажете в скобках):

In [ ]:
data.tail()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

Таблица полностью загрузилась, но что-то не так с первым столбцом. Дело в том, что в исходном файле уже была информация об индексах. И вы, создавая датафрейм, также проиндексировали строки. В итоге информация дублируется.

Чтобы это исправить, при создании датафрейма укажите параметр `index_col=0`. Теперь информация об индексах будет взята из нулевого столбца. Проверьте результат:

In [ ]:
# Параметр index_col определяет столбец, который будет использоваться как индекс в таблице
data = pd.read_csv('wine_base.csv', index_col=0)

# Вывод первых 10 строк таблицы
data.head(10)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
6,Spain,Slightly gritty black-fruit aromas include a s...,San Román,95,65.0,Northern Spain,Toro,NaN,Tinta de Toro,Maurodos
7,Spain,Lush cedary black-fruit aromas are luxe and of...,Carodorum Único Crianza,95,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström
9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95,60.0,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm

Так держать! Теперь вы умеете не только вручную формировать датафреймы из списков, но и создавать их на основе уже готовых файлов.

## Анализ данных

Вы загрузили файл с данными и считали его с помощью библиотеки Pandas. Теперь проанализируйте эти данные:
- посчитайте, сколько всего записей вы имеете;
- посмотрите, какого типа данные;
- проверьте, есть ли пропуски. Если да, то сколько их.

### Базовые методы

Метод .`shape` возвращает размер датафрейма: количество строк и количество столбцов

In [ ]:
data.shape

(150930, 10)

Метод `.size` возвращает количество элементов в таблице:

In [ ]:
data.size

1509300

Иногда данные в некоторых ячейках таблицы пропущены. Это случается по разным причинам: возможно, данных по определенному элементу просто не было, а возможно, человек, который заполнял таблицу, случайно пропустил ячейку.

Метод `.count()` возвращает количество *непустых* записей в каждом столбце:

In [ ]:
data.count()

country        150925
description    150930
designation    105195
points         150930
price          137235
province       150925
region_1       125870
region_2        60953
variety        150930
winery         150930
dtype: int64

Используя метод `.head()`, вы можете применить метод `.count()` только к первым ста строкам таблицы:

In [ ]:
data.head(100).count()

country        100
description    100
designation     84
points         100
price           96
province       100
region_1        92
region_2        43
variety        100
winery         100
dtype: int64

Метод `.dtypes` возвращает тип данных каждого столбца:

In [ ]:
data.dtypes

country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

Метод `.info()` сочетает в себе методы `.count` и `.dtypes`. Он возвращает:
- количество непустых записей в каждом столбце;
- тип данных каждого столбца;
- сколько раз встречается каждый тип данных;
- сколько места занимает датафрейм.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150930 entries, 0 to 150929
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   country      150925 non-null  object
 1   description  150930 non-null  object
 2   designation  105195 non-null  object
 3   points       150930 non-null  int64
 4   price        137235 non-null  float64
 5   province     150925 non-null  object
 6   region_1     125870 non-null  object
 7   region_2     60953 non-null   object
 8   variety      150930 non-null  object
 9   winery       150930 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 12.7+ MB

Эти методы позволяют предварительно оценить данные, которые имеются в вашем распоряжении. Например, теперь вы знаете, что в столбце **region_2** заполнено всего 60 953 ячейки из 150 930. Можно сделать вывод, что этот столбец малоинформативен.

Детальнее поработайте с *пропущенными данными*. Выведите первые пять строк датафрейма для наглядности:

In [ ]:
data.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

Ячейки со значением **NaN** - это пустые ячейки. Например, первые 2 ячейки столбца **region_2** пустые.

Метод `.isna()` выдает таблицу того же размера, что и исходная, только заменяет значения в ячейках на **True** или **False**.
- **True** - если ячейка *пуста*
- **False** - если ячейка *заполнена*

In [ ]:
data.isna().head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False

Сравните эту таблицу с исходной. Почти все ячейки имеют значение **False**, так как в исходной таблице они заполнены. Но те ячейки, которые были пусты, получили значение **True**.
Такой подход позволяет очень легко подсчитать количество пропусков в каждом столбце с помощью метода `.sum()`:

In [ ]:
data.isna().sum()

country            5
description        0
designation    45735
points             0
price          13695
province           5
region_1       25060
region_2       89977
variety            0
winery             0
dtype: int64

Для наглядности вычислите долю пропусков от общего количества элементов:

In [ ]:
data.isna().sum() / data.shape[0]

country        0.000033
description    0.000000
designation    0.303021
points         0.000000
price          0.090737
province       0.000033
region_1       0.166037
region_2       0.596151
variety        0.000000
winery         0.000000
dtype: float64

Чтобы вычислить общее количество пропусков во всей таблице, примените метод `.sum()` два раза:

In [ ]:
data.isna().sum().sum()

174477

Переведите полученное значение в проценты. Для этого поделите количество пропусков на количество ячеек и умножьте на 100:

In [ ]:
proc = data.isna().sum().sum() / data.size
print('{:.1%}'.format(proc))

11.6%

Вы обнаружили пропуски, но что с ними делать? Ячейки без информации можно удалять и заполнять самостоятельно. Рассмотрите подробнее каждый вариант.

In [ ]:
# Выведем первые 5 строк для наглядности
data.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

**1. Удалять**

В этом вам поможет метод `.dropna()`. Вот его параметры:

* `axis=` - если 0, то удалять строки; если 1, то удалять столбцы.
* `how=` - "any" - удалять, если есть хотя бы одна ячейка пустая; "all" - удалять только полностью пустые строки или столбцы.

---

Рассмотрите способ на примере первых пяти строк датафрейма. Что сделает команда `dropna(axis=0, how='any')`?

Так как параметр **axis** равен нулю, удаляются строки. Параметр `how` равен `any`, значит строка будет удалена, если есть хотя бы один пропуск. Таким образом, из таблицы будут удалены строки с индексом 1 и 4.

---

Команда `dropna(axis=0, how='all')` ничего не удалит, так как полностью пустых строк нет.

**2. Вставлять информацию вручную**

Как и чем заполнять – это отдельная тема. Все зависит от задачи и природы данных. 

В общем случае вы можете использовать метод `.fillna()`. С его помощью можно заменить все пропуски

In [ ]:
# Замена всех пропусков на слово "Python"
data.fillna("Python").head(10)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,Python,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,Python,Provence red blend,Domaine de la Bégude
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,Python,Tinta de Toro,Numanthia
6,Spain,Slightly gritty black-fruit aromas include a s...,San Román,95,65.0,Northern Spain,Toro,Python,Tinta de Toro,Maurodos
7,Spain,Lush cedary black-fruit aromas are luxe and of...,Carodorum Único Crianza,95,110.0,Northern Spain,Toro,Python,Tinta de Toro,Bodega Carmen Rodríguez
8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström
9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95,60.0,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm

### Описательные статистики

Теперь изучите методы для более подробного изучения данных датафрейма:

Метод `.describe()` возвращает таблицу с описательными статистиками числовых столбцов.  Рассмотрите каждый пункт::

- **count** - количество заполненных элементов
- **mean** - среднее значение по столбцу
- **std** - среднее квадратичное отклонение
- **min** - минимальное значение
- **процентили** - тут будет легче рассмотреть на примере. Представим шкалу на которой расположены все цены вин из таблицы. Обозначим на этой шкале 25-ю процентиль, 50-ю процентиль и 75-ю процентиль: 

![proc1.jpg]()

На этой шкале можно расположить все числовые данные, например цены. 25-ой процентилью будет 16\$. Это значит, что 25% вин дешевле, а остальные 75% дороже.

![proc2.jpg]()

75-ая проццентиль будет равна 40\$. Соответственно, 75% вин имеют стоимость ниже 40\$, а остальные 25% - выше.

![proc3.jpg]()

In [ ]:
data.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

Параметр `include=['O']` метода `.describe()` выведет статистику для строковых данных:

- **count** - количество заполненных элементов
- **unique** - количество уникальных элементов
- **top** - самый распространенный элемент
- **freq** - сколько раз встречается самый распространенный элемент

In [ ]:
data.describe(include=['O'])

,country,description,designation,province,region_1,region_2,variety,winery
count,150925,150930,105195,150925,125870,60953,150930,150930
unique,48,97821,30621,455,1236,18,632,14810
top,US,A little bit funky and unsettled when you pop ...,Reserve,California,Napa Valley,Central Coast,Chardonnay,Williams Selyem
freq,62397,6,2752,44508,6209,13057,14482,374

### Срезы данных

Вы научились анализировать датафрейм. Но что если нужно отделить определенную его часть? Например, убрать все столбцы, кроме описания вин и названия винодельни. Или отсечь 1 000 последних строк. Или вывести только каждую пятую строку.

Как вы знаете, датафрейм состоит из строк и столбцов. Значит, вы можете срезать данные по двум плоскостям.

#### Отбор по столбцам

Начните с отбора по столбцам. Первое, что вы можете сделать – вывести данные для какого-то конкретного столбца. Пусть это будут цены вин. Для этого напишите название датафрейма и укажите название нужного столбца в квадратных скобках:

In [ ]:
# Отбор данных столбца price
data['price'].head()

0    235.0
1    110.0
2     90.0
3     65.0
4     66.0
Name: price, dtype: float64

Таким же образом можно отобрать несколько столбцов. В таком случае названия подаются списком. Обратите внимание на двойные квадратные скобки. Если проигнорировать это правило, столкнетесь с ошибкой.

In [ ]:
# Отбор данных столбцов price и points
data[['price', 'points']].head()

   price  points
0  235.0      96
1  110.0      96
2   90.0      96
3   65.0      96
4   66.0      95

Более того, **Pandas** позволяет обращаться к столбцу с помощью метода, соответствующего названию столбца:

In [ ]:
# Отбор данных столбца price
data.price.head()

0    235.0
1    110.0
2     90.0
3     65.0
4     66.0
Name: price, dtype: float64

К сожалению, обратиться так к нескольким столбцам не получится – выдаст ошибку:

In [ ]:
data.price.points.head()

AttributeError: ignored

Полученный срез данных можно записать в переменную. Сделайте это, применив два изученных способа:

In [ ]:
array1 = data['price']
print(array1.head())

print(end='\n\n\n')

array2 = data.price
print(array2.head())

0    235.0
1    110.0
2     90.0
3     65.0
4     66.0
Name: price, dtype: float64



0    235.0
1    110.0
2     90.0
3     65.0
4     66.0
Name: price, dtype: float64

#### Отбор по строкам

Теперь рассмотрите отбор по строкам. Во-первых, есть возможность обращаться к строкам по индексу. Попробуйте вывести конкретный диапазон строк:

In [ ]:
# Отбор данных строк с 10 до 13 (не включая)
data[10:13]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
11,US,"From 18-year-old vines, this supple well-balan...",Estate Vineyard Wadensvil Block,95,48.0,Oregon,Ribbon Ridge,Willamette Valley,Pinot Noir,Patricia Green Cellars
12,US,A standout even in this terrific lineup of 201...,Weber Vineyard,95,48.0,Oregon,Dundee Hills,Willamette Valley,Pinot Noir,Patricia Green Cellars

А теперь также выведите диапазон строк, но с определенным шагом. Принцип работы тут такой же, как с массивами NumPy:

In [ ]:
# Отбор данных строк с 10 до 20 (не включая) с шагом в 3
data[10:20:3]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
13,France,This wine is in peak condition. The tannins an...,Château Montus Prestige,95,90.0,Southwest France,Madiran,NaN,Tannat,Vignobles Brumont
16,US,"This blockbuster, powerhouse of a wine suggest...",Rainin Vineyard,95,325.0,California,Diamond Mountain District,Napa,Cabernet Sauvignon,Hall
19,US,This fresh and lively medium-bodied wine is be...,Gap's Crown Vineyard,95,75.0,California,Sonoma Coast,Sonoma,Pinot Noir,Gary Farrell

По тому же принципу можно вывести каждую пятую строку. То есть вывести все строки с шагом в пять:

In [ ]:
# Отбор данных каждой пятой строки
data[::5].head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
15,US,"First made in 2006, this succulent luscious Ch...",Sigrid,95,90.0,Oregon,Willamette Valley,Willamette Valley,Chardonnay,Bergström
20,US,Heitz has made this stellar rosé from the rare...,Grignolino,95,24.0,California,Napa Valley,Napa,Rosé,Heitz

Метод `.loc` также позволяет отбирать данные по строкам. На самом деле его можно применять более функционально, но об этом позже.

В случае с `.loc` принцип работы такой же. Указываете индексы и захватываете определенные диапазоны. Разница лишь в том, что последний индекс включен в выборку:

In [ ]:
# Отбор данных строк с 10 до 13 (включительно)
data.loc[10:13]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
11,US,"From 18-year-old vines, this supple well-balan...",Estate Vineyard Wadensvil Block,95,48.0,Oregon,Ribbon Ridge,Willamette Valley,Pinot Noir,Patricia Green Cellars
12,US,A standout even in this terrific lineup of 201...,Weber Vineyard,95,48.0,Oregon,Dundee Hills,Willamette Valley,Pinot Noir,Patricia Green Cellars
13,France,This wine is in peak condition. The tannins an...,Château Montus Prestige,95,90.0,Southwest France,Madiran,NaN,Tannat,Vignobles Brumont

Точно так же можете вывести диапазон строк с определенным шагом:

In [ ]:
# Отбор данных строк с 10 до 16 (включительно) с шагом в 2
data.loc[10:16:2]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
12,US,A standout even in this terrific lineup of 201...,Weber Vineyard,95,48.0,Oregon,Dundee Hills,Willamette Valley,Pinot Noir,Patricia Green Cellars
14,US,"With its sophisticated mix of mineral, acid an...",Grace Vineyard,95,185.0,Oregon,Dundee Hills,Willamette Valley,Pinot Noir,Domaine Serene
16,US,"This blockbuster, powerhouse of a wine suggest...",Rainin Vineyard,95,325.0,California,Diamond Mountain District,Napa,Cabernet Sauvignon,Hall

Или вывести каждую пятую строку:

In [ ]:
# Отбор данных каждой пятой строки
data.loc[::5].head(3)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio

И на выходе снова имеете два идентичных способа записать данные строк в переменную:

In [ ]:
array3 = data[10:12]
print(array3)

print(end='\n\n\n')

array4 = data.loc[10:12]
print(array4)

   country                                        description  \
10   Italy  Elegance, complexity and structure come togeth...
11      US  From 18-year-old vines, this supple well-balan...

                        designation  points  price            province  \
10               Ronco della Chiesa      95   80.0  Northeastern Italy
11  Estate Vineyard Wadensvil Block      95   48.0              Oregon

        region_1           region_2     variety                  winery
10        Collio                NaN    Friulano        Borgo del Tiglio
11  Ribbon Ridge  Willamette Valley  Pinot Noir  Patricia Green Cellars



   country                                        description  \
10   Italy  Elegance, complexity and structure come togeth...
11      US  From 18-year-old vines, this supple well-balan...
12      US  A standout even in this terrific lineup of 201...

                        designation  points  price            province  \
10               Ronco della Chiesa      95   80.0  Northeastern Italy
11  Estate Vineyard Wadensvil Block      95   48.0              Oregon
12                   Weber Vineyard      95   48.0              Oregon

        region_1           region_2     variety                  winery
10        Collio                NaN    Friulano        Borgo del Tiglio
11  Ribbon Ridge  Willamette Valley  Pinot Noir  Patricia Green Cellars
12  Dundee Hills  Willamette Valley  Pinot Noir  Patricia Green Cellars

#### Отбор по столбцам и строкам

Вы узнали, что метод `.loc` можно использовать более функционально, чем отбирать только строки. Речь о том, что с помощью этого метода можно одновременно отбирать и строки, и столбцы. Делают это следующим образом:

In [ ]:
# Отбор данных строк с 10 по 12, столбцов 'price' и 'points'
data.loc[10:12, ['price', 'points']]

    price  points
10   80.0      95
11   48.0      95
12   48.0      95



---


**Важно**: метод `.loc` не позволяет обращаться только к столбцам. То есть с его помощью вы обращаетесь либо к строкам, либо к строкам и столбцам. Но не к одним только столбцам!


---

Есть немного измененная версия изученного метода – это `.iloc`. Он решает те же задачи, но обращение к столбцам идет не по названиям, а по индексу. Нумерация такая же, как в NumPy-массивах: 0, 1, 2, 3...

In [ ]:
# Отбор данных строк с 10 по 12, столбцов 4 и 3
data.iloc[10:12, [4, 3]]

    price  points
10   80.0      95
11   48.0      95

Метод `.iloc`, как и .loc, позволяет обращаться только к строкам, но не позволяет обращаться только к столбцам.

Чтобы запомнить, за что отвечает каждый метод: приставка `i` у второго метода происходит от слова `index`. Значит, если приставка есть, то метод обращается к столбцам по индексу. А если приставки нет, то по названию.

#### Отбор с условиями

Часто появляется необходимость отделить данные по каким-либо показателям из самого датафрейма. Например, отобрать данные по всем винам дороже 1 000 $. Рассмотрите два способа, которые помогут решить эту задачу.

Первый способ: **маска**

Суть в том, что вы создаете переменную-маску, которая содержит в себе информацию о том, какие вина проходят по условию, а какие – нет. Чтобы было понятнее, рассмотрите пример. 

Создайте переменную-маску следующим образом:

In [ ]:
# Создание маски
mask = data['price'] > 1000

То есть вы записываете в переменную `mask` результат логического выражения 

        data['price'] > 1000. 
        
Другими словами, вы берете столбец `price` из датафрейма `data` и проверяете, какие значения больше 1 000.

Теперь `mask` содержит информацию в следующем виде:

In [ ]:
# Отображение маски
mask.head()

0    False
1    False
2    False
3    False
4    False
Name: price, dtype: bool

Каждая строка приняла значение **False** или **True**:
- True – если стоимость вина в строке дороже 1 000 долларов;
- False – если стоимость вина в строке дешевле или равна 1 000 долларов.

Используйте `.head()`, чтобы вывести только первые пять строк. Это позволяет не нагромождать рабочее пространство визуальным шумом.

Осталось создать переменную для новой таблицы и записать в нее датафрейм с применением маски:

In [ ]:
# Отбор данных в соответствии с маской в новую таблицу temp и вывод таблицы
temp = data[mask]
temp

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10651,Austria,"Wet earth, rain-wet stones, damp moss, wild sa...",Ried Loibenberg Smaragd,94,1100.0,Wachau,NaN,NaN,Grüner Veltliner,Emmerich Knoll
13318,US,The nose on this single-vineyard wine from a s...,Roger Rose Vineyard,91,2013.0,California,Arroyo Seco,Central Coast,Chardonnay,Blair
26296,France,A wine that has created its own universe. It h...,Clos du Mesnil,100,1400.0,Champagne,Champagne,NaN,Chardonnay,Krug
34920,France,"A big, powerful wine that sums up the richness...",NaN,99,2300.0,Bordeaux,Pauillac,NaN,Bordeaux-style Red Blend,Château Latour
34922,France,"A massive wine for Margaux, packed with tannin...",NaN,98,1900.0,Bordeaux,Margaux,NaN,Bordeaux-style Red Blend,Château Margaux
34927,France,"Such a generous and ripe wine, with a dark cor...",NaN,97,1100.0,Bordeaux,Pessac-Léognan,NaN,Bordeaux-style Red Blend,Château La Mission Haut-Brion
34939,France,"The purest Cabernet Sauvignon fruit, with dark...",NaN,96,1300.0,Bordeaux,Pauillac,NaN,Bordeaux-style Red Blend,Château Mouton Rothschild
34942,France,"Solid, very structured, packed with dense and ...",NaN,96,1200.0,Bordeaux,Pessac-Léognan,NaN,Bordeaux-style Red Blend,Château Haut-Brion
51886,France,A wine that has created its own universe. It h...,Clos du Mesnil,100,1400.0,Champagne,Champagne,NaN,Chardonnay,Krug
83536,France,A wine that has created its own universe. It h...,Clos du Mesnil,100,1400.0,Champagne,Champagne,NaN,Chardonnay,Krug

Готово! Теперь вы знаете, что всего 10 вин стоят дороже 1 000 $, и большая часть из них произведена во Франции. Теперь вы можете анализировать данные по этому датафрейму, изучая именно дорогие вина.

Второй способ: **логическое условие**

Благодаря второму способу вы можете не объявлять лишние переменные и отбирать данные по более сложным условиям. Но для начала изучите азы. Отберите данные по цене, как и в прошлом способе:

In [ ]:
# Цена больше 300
data[data.price > 300].head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
16,US,"This blockbuster, powerhouse of a wine suggest...",Rainin Vineyard,95,325.0,California,Diamond Mountain District,Napa,Cabernet Sauvignon,Hall
898,Italy,"Aromas of crushed plum, asphalt, oak, toast, e...",Sorì Tildin,92,500.0,Piedmont,Langhe,NaN,Red Blend,Gaja
2145,France,"Full of ripe fruit, opulent and concentrated, ...",NaN,100,848.0,Bordeaux,Pessac-Léognan,NaN,Bordeaux-style White Blend,Château Haut-Brion
2155,France,There is a sense of pure juicy black-currant f...,NaN,97,450.0,Bordeaux,Margaux,NaN,Bordeaux-style Red Blend,Château Margaux
2159,France,"With seriously dense tannins, this shows great...",NaN,97,330.0,Bordeaux,Pessac-Léognan,NaN,Bordeaux-style Red Blend,Château Haut-Brion

Вы сделали это всего в одну строку! Принцип действия такой же: в квадратных скобках указывается маска **цена > 300**. Если условие выполняется - **True**, если нет - **False**.

Но это еще не все. Теперь отберите все вина дороже 200 $, произведенных либо в США, либо во Франции:

In [ ]:
# Отбор по составному условию
data[(data.price > 200) & ((data.country == 'US') | (data.country == 'France'))].head(10)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
16,US,"This blockbuster, powerhouse of a wine suggest...",Rainin Vineyard,95,325.0,California,Diamond Mountain District,Napa,Cabernet Sauvignon,Hall
18,France,Coming from a seven-acre vineyard named after ...,Le Pigeonnier,95,290.0,Southwest France,Cahors,NaN,Malbec,Château Lagrézette
2145,France,"Full of ripe fruit, opulent and concentrated, ...",NaN,100,848.0,Bordeaux,Pessac-Léognan,NaN,Bordeaux-style White Blend,Château Haut-Brion
2155,France,There is a sense of pure juicy black-currant f...,NaN,97,450.0,Bordeaux,Margaux,NaN,Bordeaux-style Red Blend,Château Margaux
2159,France,"With seriously dense tannins, this shows great...",NaN,97,330.0,Bordeaux,Pessac-Léognan,NaN,Bordeaux-style Red Blend,Château Haut-Brion
2434,France,"With 83% Sémillon in the blend, this wine has ...",NaN,97,698.0,Bordeaux,Pessac-Léognan,NaN,Bordeaux-style White Blend,Château La Mission Haut-Brion
2673,France,"As with Clos de Vougeot in red, every producer...",NaN,90,238.0,Burgundy,Corton-Charlemagne,NaN,Chardonnay,Jean-Luc and Paul Aegerter
2733,France,"Richly endowed, the wine is beautifully concen...",NaN,95,202.0,Bordeaux,Pessac-Léognan,NaN,Bordeaux-style Red Blend,Château La Mission Haut-Brion
2742,France,This is a powerfully structured wine from a 18...,NaN,95,250.0,Bordeaux,Pomerol,NaN,Bordeaux-style Red Blend,Château Trotanoy

Разберем подробнее.

- **&** - **and** - логическое "и". Возвращает истину, если оба условия верны.
- **|** - **or** - логическое "или". Возвращает истину, если хотя бы одно из условий верно. 

---

- `data.price > 200`- обращаемся к столбцу **price**. Если значение больше 200, будет возвращено **True**. Если меньше или равно 200, будет возвращено **False**.
- `data.country == 'US'` - обращаемся к столбцу country. Если значение равно **US**, будет возвращено **True**, в противном случае будет возвращено **Flase**.

---

Теперь разберем само логическое выражение:
- `(data.price > 200) & ((data.country == 'US') | (data.country == 'France'))`
- **цена больше 200** `и` **страна US** `или` **страна France**

Таким образом, на выходе получим все вина дороже 200$ со страной производства или US, или France.

### Мультииндексация

Представьте, что вам нужно подсчитать количество элементов в каждом столбце отдельно для каждой страны. То есть на выходе вы должны получить список стран, а для каждой страны – количество заполненных ячеек по столбцам.

На данный момент вам неизвестны инструменты, с помощью которых можно решить такую задачу. Рассмотрите их!

Метод `.groupby()` позволяет провести сортировку по столбцам. Укажем в качестве параметра столбец **country** и применим метод `.count()`, чтобы вычислить количество заполненных элементов по столбцам. Полученный результат запишите в переменную **data_** и выведите первые 20 строк:

In [ ]:
# Группировка данных по странам
data_ = data.groupby(['country']).count()
data_

,description,designation,points,price,province,region_1,region_2,variety,winery
country,,,,,,,,,
Albania,2,0,2,2,2,0,0,2,2
Argentina,5631,3936,5631,5587,5631,5627,0,5631,5631
Australia,4957,3347,4957,4894,4957,4957,0,4957,4957
Austria,3057,2654,3057,2483,3057,0,0,3057,3057
Bosnia and Herzegovina,4,1,4,4,4,0,0,4,4
Brazil,25,18,25,25,25,0,0,25,25
Bulgaria,77,51,77,77,77,0,0,77,77
Canada,196,145,196,194,196,196,0,196,196
Chile,5816,4917,5816,5766,5816,0,0,5816,5816
China,3,1,3,3,3,0,0,3,3
Croatia,89,60,89,83,89,0,0,89,89
Cyprus,31,25,31,31,31,0,0,31,31
Czech Republic,6,0,6,6,6,0,0,6,6
Egypt,3,2,3,0,3,0,0,3,3
England,9,9,9,8,9,0,0,9,9
France,21098,14507,21098,14785,21098,21083,0,21098,21098
Georgia,43,38,43,43,43,0,0,43,43
Germany,2452,2299,2452,2347,2452,0,0,2452,2452
Greece,884,605,884,872,884,0,0,884,884
Hungary,231,182,231,230,231,0,0,231,231
India,8,4,8,8,8,0,0,8,8
Israel,630,568,630,610,630,0,0,630,630
Italy,23478,16890,23478,18784,23478,23478,0,23478,23478
Japan,2,2,2,2,2,0,0,2,2
Lebanon,37,29,37,37,37,0,0,37,37
Lithuania,8,8,8,8,8,0,0,8,8
Luxembourg,9,9,9,9,9,0,0,9,9
Macedonia,16,7,16,16,16,0,0,16,16
Mexico,63,46,63,63,63,0,0,63,63
Moldova,71,58,71,71,71,0,0,71,71
Montenegro,2,0,2,2,2,0,0,2,2
Morocco,12,5,12,12,12,0,0,12,12
New Zealand,3320,1585,3320,3070,3320,0,0,3320,3320
Portugal,5322,4769,5322,4176,5322,0,0,5322,5322
Romania,139,118,139,139,139,0,0,139,139
Serbia,14,11,14,14,14,0,0,14,14
Slovakia,3,0,3,3,3,0,0,3,3
Slovenia,94,60,94,81,94,0,0,94,94
South Africa,2258,1200,2258,2237,2258,0,0,2258,2258
South Korea,4,4,4,4,4,0,0,4,4
Spain,8268,6554,8268,8160,8268,8268,0,8268,8268
Switzerland,4,3,4,4,4,0,0,4,4
Tunisia,2,2,2,0,2,0,0,2,2
Turkey,52,34,52,50,52,0,0,52,52
US,62397,40345,62397,62139,62397,62261,60953,62397,62397
US-France,1,0,1,1,1,0,0,1,1
Ukraine,5,5,5,5,5,0,0,5,5
Uruguay,92,77,92,85,92,0,0,92,92

Задача выполнена! Теперь вы можете оценить базу данных с новой стороны. Например, из этой таблицы следует, что колонка region_2 заполнена только для US.
Не останавливайтесь на этом. 

Метод `.groupby()` можно применить сразу к нескольким столбцам. Проведите сортировку и по странам, и по цене:

In [ ]:
# Группировка данных по странам и ценам
data_ = data.groupby(['country', 'price']).count()
data_.head(20)

                 description  designation  points  province  region_1  \
country   price
Albania   20.0             2            0       2         2         0
Argentina 4.0              3            2       3         3         3
          5.0              9            1       9         9         9
          6.0             74           19      74        74        74
          7.0             61           19      61        61        61
          8.0            135           33     135       135       135
          9.0            291          103     291       291       291
          10.0           564          317     564       564       564
          11.0           382          252     382       382       382
          12.0           560          341     560       560       560
          13.0           443          251     443       443       443
          14.0           224          142     224       224       224
          15.0           466          367     466       466       466
          16.0           175          146     175       175       175
          17.0           168          121     168       168       168
          18.0           219          178     219       219       219
          19.0           122          101     122       122       122
          20.0           341          284     341       341       338
          21.0            56           54      56        56        56
          22.0            79           64      79        79        79

                 region_2  variety  winery
country   price
Albania   20.0          0        2       2
Argentina 4.0           0        3       3
          5.0           0        9       9
          6.0           0       74      74
          7.0           0       61      61
          8.0           0      135     135
          9.0           0      291     291
          10.0          0      564     564
          11.0          0      382     382
          12.0          0      560     560
          13.0          0      443     443
          14.0          0      224     224
          15.0          0      466     466
          16.0          0      175     175
          17.0          0      168     168
          18.0          0      219     219
          19.0          0      122     122
          20.0          0      341     341
          21.0          0       56      56
          22.0          0       79      79

Теперь у вас есть таблица с количеством элементов для каждой страны и каждой цены. Используя ранее изученный метод `.loc`, выведите информацию только по одной стране:

In [ ]:
# Вывод всех данных для US
data_.loc['US']

,description,designation,points,province,region_1,region_2,variety,winery
price,,,,,,,,
4.0,9,2,9,9,9,9,9,9
5.0,33,16,33,33,33,32,33,33
6.0,58,13,58,58,58,58,58,58
7.0,206,58,206,206,206,203,206,206
8.0,458,188,458,458,456,444,458,458
...,...,...,...,...,...,...,...,...
350.0,5,0,5,5,5,4,5,5
450.0,1,0,1,1,1,1,1,1
500.0,3,2,3,3,3,3,3,3
625.0,2,2,2,2,2,2,2,2
2013.0,1,1,1,1,1,1,1,1

В таблице вы видите все цены вин US. И количество заполненных элементов по всем остальным столбцам для каждой цены. По такому же принципу вы можете отфильтровать вина только из US и только с ценой 100 $:

In [ ]:
# Вывод всех данных для US с ценой 100
data_.loc['US', 100]

description    318
designation    261
points         318
province       318
region_1       318
region_2       317
variety        318
winery         318
Name: (US, 100.0), dtype: int64

### Изменение значений в таблице

Сейчас вы научитесь менять данные в датафрейме и рассмотрите два способа – с помощью метода `.iloc` и метода `.loc`. 

Но сначала создайте бэкап датафрейма (копию оригинала), чтобы можно было отменить изменения в любой момент. Для этого используйте метод `.copy()`. Запишите бэкап в переменную `data_backup`:

In [ ]:
# Создание копии таблицы
data_backup = data.copy()
data.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

Возможно, у вас появился вопрос: почему нельзя использовать запись `data_backup = data`. Зачем нужен метод `.copy()`?

Дело в том, что если присвоить переменной `data_backup` значение переменной `data`, то при изменении `data` изменится и `data_backup`. Тут на помощь и приходит метод `.copy()`. Обратите на это особое внимание.

Делать бэкап датафрейма – хорошая привычка, которая не раз сэкономит вам уйму времени. Теперь вы можете перейти к способам изменения данных в датафрейме.

Первый способ: метод `.iloc`

Вы уже разбирали этот метод в разделе про срезы данных. Принцип тот же, только в этот раз вы приравниваете к выбранным ячейкам значения, на которые хотите поменять оригинальные записи. Выглядит это так:

In [ ]:
data.iloc[0,1] = 'good day'   # Запись нового значения в 0 строку и 1 стоблец
data.iloc[2,2] = '129'      # Запись нового значения во 2 строку и 2 стоблец
data.iloc[3:5,2:5] = 'new'  # Запись нового значения с 3 по 5 строку и со 2 по 5 стоблец
data.head(8)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,good day,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,129,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",new,new,new,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",new,new,new,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
6,Spain,Slightly gritty black-fruit aromas include a s...,San Román,95,65.0,Northern Spain,Toro,NaN,Tinta de Toro,Maurodos
7,Spain,Lush cedary black-fruit aromas are luxe and of...,Carodorum Único Crianza,95,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez

Второй способ: `.loc`

С помощью этого метода можно задавать условия, по которым будет определяться, для каких ячеек нужно изменить значение. 

Чтобы работать с исходным файлом, вернитесь к оригинальной версии датафрейма, используя все тот же метод `.copy()`:

In [ ]:
# Восстановление данных из копии
data = data_backup.copy()

Рассмотрим работу с методом `.loc` на следующем примере: `data.loc[data.country == 'US', 'region_2'] = 'Syberia'`

- `data.loc` - используем метод на нашем датафрейме
- `data.country == 'US'` - задаем условие. В данном примере столбец **country** должен хранить значение **US**. Если это условие выполняется, данные будут перезаписаны
- `'region_2'` - дальше определяем в каком столбце будем менять данные. В примере это столбец **region_2**
- `= 'Syberia'` - в конце указываем на какое значение мы хотим поменять исходное.

Запись можно расшифровать так: для всех вин произведенных в **US** нужно записать в столбец **region_2** значение **Syberia**. Проверим код:

In [ ]:
data.loc[data.country == 'US', 'region_2'] = 'Syberia'  # Запись новых значений в столбец "region_2" строк "US"
data.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Syberia,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Syberia,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Syberia,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

Все сработало именно так, как мы задумали. Решим еще 2 задачи:

- приравнять значение **points** к 200 для всех вин дороже 100$

- приравнять значение **price** к 1000 для всех вин дороже 100$

In [ ]:
data.loc[data.price > 100, 'points'] = 200              # Запись новых значений в столбец "points" для вин дороже 100
data.loc[data.price > 100, 'price'] = 1000              # Запись новых значений в столбец "price" для вин дороже 100
data.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,200,1000.0,California,Napa Valley,Syberia,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,200,1000.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Syberia,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Syberia,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

Вот и все! Большой блок по анализу данных подошел к концу. Можете сделать перерыв, а чуть позже – вернуться и закончить урок по библиотеке **Pandas**.

## Перевод в NumPy

**Pandas** – это надстройка над **Numpy**. Поэтому вы без проблем можете перевести датафрейм в NumPy-массив. Для этого используйте метод `.values`:

In [ ]:
np_data = data.values # Получение данных из таблицы и их запись в массив np_data

Теперь у вас есть NumPy-массив `np_data`. Он содержит в себе датафрейм, с которым вы все это время работали. Чтобы в этом убедиться, выведите на экран размерность массива и его нулевую строку:

In [ ]:
print(np_data.shape)    # Вывод формы массива np_data
print(np_data[0])       # Вывод 0-ой строки массива

(150930, 10)
['US'
 'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, framed by elegant, fine tannins and a subtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.'
 "Martha's Vineyard" 200 1000.0 'California' 'Napa Valley' 'Syberia'
 'Cabernet Sauvignon' 'Heitz']

Данные полностью совпадают: 150 930 строк, 10 столбцов. Нулевая строка соответствует исходному датафрейму.

Вспомните уроки по Python и NumPy и напишите цикл для вывода первых пяти строк массива:

In [ ]:
# Вывод первых 5 элементов массива np_data
for i in range(5):
    print(np_data[i])

['US'
 'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, framed by elegant, fine tannins and a subtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.'
 "Martha's Vineyard" 200 1000.0 'California' 'Napa Valley' 'Syberia'
 'Cabernet Sauvignon' 'Heitz']
['Spain'
 'Ripe aromas of fig, blackberry and cassis are softened and sweetened by a slathering of oaky chocolate and vanilla. This is full, layered, intense and cushioned on the palate, with rich flavors of chocolaty black fruits and baking spices. A toasty, everlasting finish is heady but ideally balanced. Drink through 2023.'
 'Carodorum Selección Especial Reserva' 200 1000.0 'Northern Spain' 'Toro'
 nan 'Tinta de Toro' 'Bodega Carmen Rodríguez']
['US'
 'Mac Watson honors the memory of a wine once made by his mother in this tremendously delicious, balanced and complex botrytised white. Dark gold in color, it layers toasted hazelnut, pear compote and orange peel flavors, reveling in the succulence of its 122 g/L of residual sugar.'
 'Special Selected Late Harvest' 96 90.0 'California' 'Knights Valley'
 'Syberia' 'Sauvignon Blanc' 'Macauley']
['US'
 "This spent 20 months in 30% new French oak, and incorporates fruit from Ponzi's Aurora, Abetina and Madrona vineyards, among others. Aromatic, dense and toasty, it deftly blends aromas and flavors of toast, cigar box, blackberry, black cherry, coffee and graphite. Tannins are polished to a fine sheen, and frame a finish loaded with dark chocolate and espresso. Drink now through 2032."
 'Reserve' 96 65.0 'Oregon' 'Willamette Valley' 'Syberia' 'Pinot Noir'
 'Ponzi']
['France'
 'This is the top wine from La Bégude, named after the highest point in the vineyard at 1200 feet. It has structure, density and considerable acidity that is still calming down. With 18 months in wood, the wine has developing an extra richness and concentration. Produced by the Tari family, formerly of Château Giscours in Margaux, it is a wine made for aging. Drink from 2020.'
 'La Brûlade' 95 66.0 'Provence' 'Bandol' nan 'Provence red blend'
 'Domaine de la Bégude']

Такой вариант тоже имеет место быть:

In [ ]:
# Вывод первых 5 элементов массива np_data: альтернативный вариант
print(np_data[:5])

[['US'
  'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, framed by elegant, fine tannins and a subtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.'
  "Martha's Vineyard" 200 1000.0 'California' 'Napa Valley' 'Syberia'
  'Cabernet Sauvignon' 'Heitz']
 ['Spain'
  'Ripe aromas of fig, blackberry and cassis are softened and sweetened by a slathering of oaky chocolate and vanilla. This is full, layered, intense and cushioned on the palate, with rich flavors of chocolaty black fruits and baking spices. A toasty, everlasting finish is heady but ideally balanced. Drink through 2023.'
  'Carodorum Selección Especial Reserva' 200 1000.0 'Northern Spain'
  'Toro' nan 'Tinta de Toro' 'Bodega Carmen Rodríguez']
 ['US'
  'Mac Watson honors the memory of a wine once made by his mother in this tremendously delicious, balanced and complex botrytised white. Dark gold in color, it layers toasted hazelnut, pear compote and orange peel flavors, reveling in the succulence of its 122 g/L of residual sugar.'
  'Special Selected Late Harvest' 96 90.0 'California' 'Knights Valley'
  'Syberia' 'Sauvignon Blanc' 'Macauley']
 ['US'
  "This spent 20 months in 30% new French oak, and incorporates fruit from Ponzi's Aurora, Abetina and Madrona vineyards, among others. Aromatic, dense and toasty, it deftly blends aromas and flavors of toast, cigar box, blackberry, black cherry, coffee and graphite. Tannins are polished to a fine sheen, and frame a finish loaded with dark chocolate and espresso. Drink now through 2032."
  'Reserve' 96 65.0 'Oregon' 'Willamette Valley' 'Syberia' 'Pinot Noir'
  'Ponzi']
 ['France'
  'This is the top wine from La Bégude, named after the highest point in the vineyard at 1200 feet. It has structure, density and considerable acidity that is still calming down. With 18 months in wood, the wine has developing an extra richness and concentration. Produced by the Tari family, formerly of Château Giscours in Margaux, it is a wine made for aging. Drink from 2020.'
  'La Brûlade' 95 66.0 'Provence' 'Bandol' nan 'Provence red blend'
  'Domaine de la Bégude']]

## Объединение таблиц по строкам (конкатенация)

В первом уроке курса вы уже читали о конкатенации – сложении строк.

Объявите две переменные и присвойте им текстовые значения:

In [ ]:
a1 = 'Нейро'
a2 = 'сети'

Теперь сложим 2 эти строки (это и есть конкатенация):

In [ ]:
a1 + a2

'Нейросети'

Таким же образом происходит конкатенация списков:

In [ ]:
a2 = [0, 1, 2, 3]                          # Создание списка а2
b2 = [4, 5, 6, 7, 234, 23]                 # Создание списка b2
b2 + a2 + b2 + a2 + a2                     # Конкатенация списков

[4, 5, 6, 7, 234, 23, 0, 1, 2, 3, 4, 5, 6, 7, 234, 23, 0, 1, 2, 3, 0, 1, 2, 3]

А можно ли так же производить конкатенацию таблиц? Чтобы проверить это, создайте две маленькие таблицы. Для этого скопируйте строки из датафрейма **data**:

In [ ]:
data_1 = data[0:5].copy()                # Копирование первых 5 строк таблицы data в переменную data_1
data_2 = data[5:10].copy()               # Копирование 5-10 строк таблицы data в переменную data_2

Теперь сделайте конкатенацию:

In [ ]:
df_concat = data_1 + data_2
df_concat

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Ничего не получилось. Все потому, что конкатенация таблиц происходит с помощью метода `.concat()`. Попробуйте еще раз:

In [ ]:
# Конкатенация двух таблиц
df_concat = pd.concat([data_1, data_2])
df_concat

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,200,1000.0,California,Napa Valley,Syberia,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,200,1000.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Syberia,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Syberia,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
6,Spain,Slightly gritty black-fruit aromas include a s...,San Román,95,65.0,Northern Spain,Toro,NaN,Tinta de Toro,Maurodos
7,Spain,Lush cedary black-fruit aromas are luxe and of...,Carodorum Único Crianza,200,1000.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Syberia,Pinot Noir,Bergström
9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95,60.0,California,Sonoma Coast,Syberia,Pinot Noir,Blue Farm

Получилось! Вы произвели конкатенацию таблиц. А можно ли сложить таблицы в другом порядке? То есть сделать так, чтобы сначала отображались строки из второй, а затем – из первой. Это тоже возможно:

In [ ]:
# Конкатенация двух таблиц в другом порядке
df_concat = pd.concat([data_2, data_1])
df_concat

,country,description,designation,points,price,province,region_1,region_2,variety,winery
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
6,Spain,Slightly gritty black-fruit aromas include a s...,San Román,95,65.0,Northern Spain,Toro,NaN,Tinta de Toro,Maurodos
7,Spain,Lush cedary black-fruit aromas are luxe and of...,Carodorum Único Crianza,200,1000.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Syberia,Pinot Noir,Bergström
9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95,60.0,California,Sonoma Coast,Syberia,Pinot Noir,Blue Farm
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,200,1000.0,California,Napa Valley,Syberia,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,200,1000.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Syberia,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Syberia,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

По индексам можно заметить, что теперь таблицы следуют в другом порядке. 

Вы создали три независимых друг от друга таблицы. Изменения в одной не приведут к изменениям в других:

In [ ]:
# Замена значения в ячейке таблицы data_1
data_1.iloc[0, 1] = 'Keras'
data_1.head(2)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,Keras,Martha's Vineyard,200,1000.0,California,Napa Valley,Syberia,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,200,1000.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez

In [ ]:
# Вывод на экран первых строк df_concat
df_concat.head(2)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
6,Spain,Slightly gritty black-fruit aromas include a s...,San Román,95,65.0,Northern Spain,Toro,NaN,Tinta de Toro,Maurodos

Замена значения в таблице `data_1` не привела к изменениям в таблице `df_concat`. То есть метод `.concat()` создает таблицу, независимую от оригиналов.

## Добавление столбцов и строк

Вы уже знаете, как заменять информацию в датафрейме. А сейчас узнаете, как ее добавлять, а именно – строки и столбцы.

Создайте датафрейм для экспериментов с добавлением столбцов и строк. Заодно вспомните, как это делается:

In [ ]:
# Создание списка с названием столбцов
columns = ['A', 'B', 'C', 'D']

# Создание списка со значениями ячеек
values = [[1, 2, 3, 4],
          [5, 6, 7, 8],
          [9, 10, 11, 12],
          [13, 14, 15, 16]]

# Создание таблицы из подготовленных данных и вывод на экран
df_for_add = pd.DataFrame(values, columns=columns)
df_for_add

    A   B   C   D
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

Теперь добавьте столбец. Для этого напишите название датафрейма и укажите название нового столбца в квадратных скобках. Присвойте этому столбцу значения:

In [ ]:
# Добавление столбца
df_for_add['E'] = [17, 18, 19, 20]
df_for_add

    A   B   C   D   E
0   1   2   3   4  17
1   5   6   7   8  18
2   9  10  11  12  19
3  13  14  15  16  20

Если указать название столбца, которое уже занято, значения перезапишутся:

In [ ]:
# Замена значений столбца
df_for_add['E'] = [17, 17, 17, 27]
df_for_add

    A   B   C   D   E
0   1   2   3   4  17
1   5   6   7   8  17
2   9  10  11  12  17
3  13  14  15  16  27

Добавьте строку, используя метод `.loc`. Напишите название датафрейма, метод `.loc` и в квадратных скобках – индекс новой строки. Затем присвойте необходимые значения:

In [ ]:
# Добавление строки
df_for_add.loc[4] = [1, 2, 3, 4, 5]
df_for_add

    A   B   C   D   E
0   1   2   3   4  17
1   5   6   7   8  17
2   9  10  11  12  17
3  13  14  15  16  27
4   1   2   3   4   5

Как и в случае со столбцами, если впишите уже имеющийся индекс, данные перезапишутся:

In [ ]:
# Замена значений строки
df_for_add.loc[4] = [5, 4, 3, 2, 1]
df_for_add

    A   B   C   D   E
0   1   2   3   4  17
1   5   6   7   8  17
2   9  10  11  12  17
3  13  14  15  16  27
4   5   4   3   2   1

## DateTime index

**DateTime Index** - это особый тип индекса в **pandas**, предназначенный для работы с временными рядами.

Познакомимся с ним поближе. Чтобы изучить его, подгрузите известный стандартный датасет **Occupancy Detection Data Set**, который содержит следующие данные:
* дата и время замера;
* температура в градусах по Цельсию;
* относительная влажность в %;
* освещенность в Люксах;
* CO2 в ppm;
* коэффициент влажности;
* заполненность помещения людьми (1 - заполнено, 0 - не заполнено).

In [ ]:
# Загрузка файла из облака в colab
gdown.download('https://storage.yandexcloud.net/aiueducation/Content/base/l9/datatraining.txt', None, quiet=True)

'datatraining.txt'

In [ ]:
# Создание таблицы из файла datatraining.txt
dataTraining = pd.read_csv('datatraining.txt')
dataTraining.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

Чтобы превратить столбец **data** в индекс типа **DateTime**, используйте  метод `.to_datetime()`:

In [ ]:
# Превращение столбца date в индекс
dataTraining.index = pd.to_datetime(dataTraining.date)
dataTraining.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,,
2015-02-04 17:51:00,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2015-02-04 17:51:59,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
2015-02-04 17:53:00,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
2015-02-04 17:54:00,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
2015-02-04 17:55:00,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

Информация в таблице после этого дублируется. Чтобы это исправить, удалим столбец **date** методом `.drop()`:

- `'date'` - название колонки, которую хотим удалить
- `axis=1` - удаляем столбец, а не строку
- `inplace=True` - если **True**, то столбец удалится в исходном датафрейме. Если **False**, то для сохранения изменений нужно записать данные в переменную.

Чтобы было понятнее, разберем последний параметр на примере.

Если мы хотим создать новый датафрейм - такой же, как dataTraining, но без столбца **date**, то мы пишем следующие команды: `newDataTraining = dataTraining.drop('date', axis=1)`. Параметр `inplace` будет равен **False** по умолчанию. В итоге у нас будет два датафрейма: **dataTraining** со столбцом **data** и **newDataTraining** без столбца **data**.

Но если наша задача состоит в том, чтобы обновить уже имеющийся датафрейм и не создавать новый, мы присваиваем параметру `inplace` значение **True**. В таком случае столбец **data** будет удален из исходного датафрейма **dataTraining**.

In [ ]:
# Удаление столбца date из таблицы
dataTraining.drop('date', axis=1, inplace=True)
dataTraining.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

Цель достигнута! Теперь столбец **date** является индексом таблицы.

**Что можно делать с данными, имеющими временной индекс?**

* Сделать выборку определенного промежутка времени

Для этого с помощью метода `.index` укажите условия. Буквально: все даты позже 4 февраля 2015 года и раньше 7 февраля 2015 года:

In [ ]:
# Создание новой таблицы period со всеми данными с 4 по 7 февраля 2015 года
period = dataTraining[(dataTraining.index > '2015-02-04') & (dataTraining.index <= '2015-02-07')]
period.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

* Сделать выборку по определенным месяцам

Метод `.month` определяет месяц, где 1 - январь, а 12 - декабрь.

In [ ]:
# Создание новой таблицы month_set с данными по февралю любого года
month_set = dataTraining[dataTraining.index.month == 2]
month_set.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

* Сделать выборку по дням недели

Метод `.weekday` определяет день недели, где 0 - понедельник, а 6 - воскресенье.

In [ ]:
# Создание таблицы с данными за все субботы
day_set = dataTraining[(dataTraining.index.weekday == 5)]
day_set.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-07 00:00:00,20.0000,18.700,0.0,438.000000,0.002696,0
2015-02-07 00:01:00,19.9725,18.745,0.0,433.666667,0.002698,0
2015-02-07 00:02:00,20.0000,18.790,0.0,434.500000,0.002709,0
2015-02-07 00:03:00,20.0000,18.700,0.0,434.000000,0.002696,0
2015-02-07 00:04:00,20.0000,18.745,0.0,438.500000,0.002703,0

* Сделать выборку по дням месяца

Метод `.day` определяет день месяца. От 1 до 31, в соответствии с числом месяца.

In [ ]:
# Создание таблицы с данными за все 10 числа всех месяцев
m_day_set = dataTraining[(dataTraining.index.day == 10)]
m_day_set.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-10 00:00:00,20.390000,32.950000,0.0,498.500000,0.004884,0
2015-02-10 00:01:00,20.356667,33.000000,0.0,500.333333,0.004881,0
2015-02-10 00:02:00,20.390000,33.000000,0.0,500.500000,0.004891,0
2015-02-10 00:03:00,20.390000,32.966667,0.0,500.333333,0.004886,0
2015-02-10 00:04:00,20.365000,32.950000,0.0,500.500000,0.004876,0

* Сделать выборку по часам

Метод `.hour` определяет часы.

In [ ]:
# Создание таблицы с данными за все дни в промежутке с 13:00 до 13:59
hour_set = dataTraining[(dataTraining.index.hour == 13)]
hour_set.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-05 13:00:00,22.89,26.100000,618.750000,1007.00,0.004505,0
2015-02-05 13:01:00,22.89,26.175000,579.250000,997.50,0.004518,0
2015-02-05 13:01:59,22.89,26.133333,590.333333,1002.00,0.004511,0
2015-02-05 13:02:59,22.89,26.100000,584.500000,1000.00,0.004505,0
2015-02-05 13:04:00,22.89,26.000000,564.000000,997.75,0.004488,0

Комбинируя методы, можно вывести данные, например, для всех суббот с 13:00 до 13:59:

In [ ]:
weekday_hour_set = dataTraining[(dataTraining.index.weekday == 5) & (dataTraining.index.hour == 13)]
weekday_hour_set.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-07 13:00:00,23.1,17.060000,268.00,445.250000,0.002975,0
2015-02-07 13:01:00,23.1,17.033333,268.25,447.500000,0.002970,0
2015-02-07 13:01:59,23.1,17.066667,266.00,446.333333,0.002976,0
2015-02-07 13:02:59,23.1,17.000000,270.25,453.500000,0.002965,0
2015-02-07 13:04:00,23.1,16.972500,268.50,449.250000,0.002960,0

Существует альтернативный способ сделать выборку, обратившись непосредственно к индексу.

* Вывести данные за определенное число:

In [ ]:
# Отбор и вывод данных за 6 февраля 2015 года
dataTraining['2015-02-06'].head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-06 00:00:00,20.2,21.29,0.0,438.0,0.003110,0
2015-02-06 00:01:00,20.2,21.20,0.0,439.0,0.003097,0
2015-02-06 00:02:00,20.2,21.29,0.0,441.5,0.003110,0
2015-02-06 00:03:00,20.2,21.29,0.0,444.0,0.003110,0
2015-02-06 00:04:00,20.2,21.29,0.0,446.5,0.003110,0

* Вывести данные за определенный промежуток времени:

In [ ]:
# Отбор и вывод данных с 14:55 и до 14:56 8 февраля 2015 года
dataTraining['2015-02-08 14:55':'2015-02-08 14:56']

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-08 14:55:00,20.290,26.2,85.666667,418.666667,0.003853,0
2015-02-08 14:55:59,20.315,26.2,59.250000,422.500000,0.003859,0

* Вывести данные, начиная с определенной даты:

In [ ]:
# Отбор и вывод данных начиная с 12:00 5 февраля 2015 года
dataTraining['2015-02-05 12:00':].head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-05 12:00:00,22.2,27.100,464.000000,1118.00,0.004486,1
2015-02-05 12:01:00,22.2,27.100,465.666667,1110.00,0.004486,1
2015-02-05 12:02:00,22.2,27.075,481.500000,1115.00,0.004481,1
2015-02-05 12:03:00,22.2,27.100,474.000000,1119.75,0.004486,1
2015-02-05 12:04:00,22.2,27.000,486.500000,1114.00,0.004469,1

* Вывести данные *до* определенной даты:

In [ ]:
# Отбор и вывод данных от начала и до 12:00 7 февраля 2015 года
dataTraining[:'2015-02-07 12:00']

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-04 17:51:00,23.180000,27.2720,426.00,721.250000,0.004793,1
2015-02-04 17:51:59,23.150000,27.2675,429.50,714.000000,0.004783,1
2015-02-04 17:53:00,23.150000,27.2450,426.00,713.500000,0.004779,1
2015-02-04 17:54:00,23.150000,27.2000,426.00,708.250000,0.004772,1
2015-02-04 17:55:00,23.100000,27.2000,426.00,704.500000,0.004757,1
...,...,...,...,...,...,...
2015-02-07 11:55:59,22.790000,17.6000,334.00,457.000000,0.003012,0
2015-02-07 11:57:00,22.815000,17.6000,334.50,461.750000,0.003017,0
2015-02-07 11:57:59,22.815000,17.6000,336.00,458.000000,0.003017,0
2015-02-07 11:58:59,22.856667,17.6000,334.00,455.666667,0.003025,0
2015-02-07 12:00:00,22.890000,17.6000,352.25,453.000000,0.003031,0

## Встроенные статистические функции

Вы подошли к завершающей части, остался последний шаг! Рассмотрите ряд встроенных статистических функций.

**Матрица корреляций** `.corr()`

Этот метод выведет матрицу с коэффициентами корреляции Пирсона между данными всех столбцов. Она показывает как сильно элементы таблицы коррелируют друг с другом.
- **1** - параметр полностью коррелирует (н-р, температура растет, освещенность растет)
- **-1** - параметр коррелирует в противоположную сторону (н-р, влажность растет, температура падает)
- **0** - параметр не коррелирует (между изменениями температуры и освещенности нет никакой связи)

In [ ]:
# Вывод матрицы корреляции для таблицы dataTraining
dataTraining.corr()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
Temperature,1.000000,-0.141759,0.649942,0.559894,0.151762,0.538220
Humidity,-0.141759,1.000000,0.037828,0.439023,0.955198,0.132964
Light,0.649942,0.037828,1.000000,0.664022,0.230420,0.907352
CO2,0.559894,0.439023,0.664022,1.000000,0.626556,0.712235
HumidityRatio,0.151762,0.955198,0.230420,0.626556,1.000000,0.300282
Occupancy,0.538220,0.132964,0.907352,0.712235,0.300282,1.000000

**Медиана** `.median()`

Если расположить все значения на отрезке, то медианное значение будет ровно посередине. То есть 50% значений будет слева, а остальные 50% справа.

Например, если медианное значение температуры равно 20.39, значит 50% значений температуры меньше, чем 20.39, а остальные 50% больше.

In [ ]:
# Вычисление медианы для столбцов таблицы dataTraining
dataTraining.median()

Temperature       20.390000
Humidity          26.222500
Light              0.000000
CO2              453.500000
HumidityRatio      0.003801
Occupancy          0.000000
dtype: float64

**Квантили** `.quantile()`

В разделе "**Описательные статистики**" мы уже говорили про процентили. Квантили - это то же самое, только в числовом виде, а не процентном. То есть 25-ый процентиль равен квантилю 0.25. Это значит, что 25% значений имеют меньшее значение, а остальные 75% - большее.

In [ ]:
# Вычисление квантилей для столбцов таблицы dataTraining
dataTraining.quantile([0.95, 0.05, 0.5])

      Temperature  Humidity       Light       CO2  HumidityRatio  Occupancy
0.95        22.39   34.4220  480.666667  1293.675       0.005336        1.0
0.05        19.29   18.6000    0.000000   428.000       0.002730        0.0
0.50        20.39   26.2225    0.000000   453.500       0.003801        0.0

**Уникальные значения и их количество** `.nunique()` и `.unique()`

Как нетрудно догадаться, с помощью первого метода можно вычислить количество уникальных элементов для каждого столбца.

In [ ]:
# Вывод количества уникальных значений для всех столбцов таблицы dataTraining
dataTraining.nunique()

Temperature       265
Humidity         1325
Light             889
CO2              2282
HumidityRatio    3582
Occupancy           2
dtype: int64

А можно вывести не количество уникальных элементов, но и сами эти элементы. Например, как вы видите в таблице выше, столбец **Occupancy** имеет всего два уникальных значения. Выведите их:

In [ ]:
# Вывод самих уникальных значений для столбца Occupancy таблицы dataTraining
dataTraining.Occupancy.unique()

array([1, 0])

`.nunique()` - **вычисление количества** уникальных элементов в каждом столбце

`.unique()` - **получение уникальных элементов** столбца

**Кумулятивные функции** `.cumsum()`, `.cummin()` и `.cumprod()`

По-другому эти функции называют накапливающими. Разберем принцип действия этих функций на примерах. Чтобы было удобнее ориентироваться, выведем исходную таблицу.

In [ ]:
# Вывод первых 5 строк таблицы dataTraining
dataTraining.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

Начнем с кумулятивной суммы.

- Первая строчка соответствует строке оригинального датафрейма.
- Вторая строка является результатом сложения значений первой и второй строки оригинального датафрейма.
- Соответственно, третья строка является результатом сложения значений первой, второй и третьей строк оригинала и так далее.

In [ ]:
# Вывод кумулятивной суммы
dataTraining.cumsum().head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2015-02-04 17:51:59,46.33,54.5395,855.5,1435.25,0.009576,2
2015-02-04 17:53:00,69.48,81.7845,1281.5,2148.75,0.014356,3
2015-02-04 17:54:00,92.63,108.9845,1707.5,2857.00,0.019127,4
2015-02-04 17:55:00,115.73,136.1845,2133.5,3561.50,0.023884,5

По такому же принципу можно вычислить кумулятивный минимум. 

- Первая строка соответствует оригиналу.
- Во второй строке сравниваются значения для каждого столбца из первой и второй строки и в результат записываются минимальные значения.
- В третьей строке сравниваются значения из всех предыдущих строк и записывается минимальное и так далее.

In [ ]:
# Вывод кумулятивного минимума
dataTraining.cummin().head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2015-02-04 17:51:59,23.15,27.2675,426.0,714.00,0.004783,1
2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

Кумулятивное произведение.

- Первая строка соответствует исходному датафрейму.
- Вторая строка хранит результаты умножения значений первой строки на значения второй строки.
- И так далее.

In [ ]:
# Вывод кумулятивного произведения
dataTraining.cumprod().head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-04 17:51:00,2.318000e+01,2.727200e+01,4.260000e+02,7.212500e+02,4.792988e-03,1
2015-02-04 17:51:59,5.366170e+02,7.436393e+02,1.829670e+05,5.149725e+05,2.292698e-05,1
2015-02-04 17:53:00,1.242268e+04,2.026045e+04,7.794394e+07,3.674329e+08,1.095786e-07,1
2015-02-04 17:54:00,2.875851e+05,5.510843e+05,3.320412e+10,2.602343e+11,5.228555e-10,1
2015-02-04 17:55:00,6.643216e+06,1.498949e+07,1.414495e+13,1.833351e+14,2.487220e-12,1

**Метод `.apply()`**

Этот метод позволяет применить к датафрейму самостоятельно созданные функции.

Чтобы методу `.apply()` было с чем работать, создайте собственную функцию для нормирования значений

Нейросети значительно лучше работают с нормально распределенными данными. Это значит, что у набора числовых данных среднее значение должно равняться нулю, а среднее квадратичное отклонение – единице.

Значит, вам нужно написать такую функцию, которая преобразует данные в соответствии с этим правилом:

In [ ]:
# Создание функции для нормирования значений
def scaling(df):
    return (df - df.mean()) / df.std()

Вы создали функцию для нормирования значений. Теперь с помощью метода `.apply()` примените ее к датафрейму:

In [ ]:
# Применение созданной функции к таблице dataTraining (по умолчанию по столбцам)
dataTraining.apply(scaling).head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,
2015-02-04 17:51:00,2.518315,0.278509,1.573666,0.364926,1.091690,1.925929
2015-02-04 17:51:59,2.488814,0.277696,1.591637,0.341860,1.080489,1.925929
2015-02-04 17:53:00,2.488814,0.273628,1.573666,0.340269,1.075822,1.925929
2015-02-04 17:54:00,2.488814,0.265492,1.573666,0.323567,1.066489,1.925929
2015-02-04 17:55:00,2.439646,0.265492,1.573666,0.311636,1.049458,1.925929

**lambda-функции и метод `.agg()`**

Допустим, вы хотите по порядку вывести сумму значений всех элементов в столбце, среднее значение, минимальное и максимальное. Вы уже знаете, что это можно сделать, выписав по отдельности команды `dataTraining.sum()`, `dataTraining.mean()` и так далее. Но можно применить более удобный и компактный способ.

Метод `.agg()` позволяет объединить вызов разных команд и даже собственных функций следующим образом:

In [ ]:
# Вычисление требуемых значений по всем столбцам dataTraining
dataTraining.agg(['sum', 'mean', 'min', 'max', lambda x: x.mean()])

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
sum,167901.198083,209531.663833,973246.266667,4.939106e+06,31.452392,1729.00000
mean,20.619084,25.731507,119.519375,6.065462e+02,0.003863,0.21233
min,19.000000,16.745000,0.000000,4.127500e+02,0.002674,0.00000
max,23.180000,39.117500,1546.333333,2.028500e+03,0.006476,1.00000
<lambda>,20.619084,25.731507,119.519375,6.065462e+02,0.003863,0.21233

`lambda` - это одноразовая функция. Их также называют **анонимными функциями**. В данном случае с помощью нее вычисляются средние значения, поэтому результат соответствует результату команды **mean**.

**Ресэмплинг** `.resample()`

Этот метод позволяет легко произвести подсчеты по дням, месяцам, годам. Например, если перед вами стоит задача вывести среднее значение температуры по дням:

In [ ]:
dataTraining.Temperature.resample('D').mean()

date
2015-02-04    21.765255
2015-02-05    21.469044
2015-02-06    20.880500
2015-02-07    20.576546
2015-02-08    19.510642
2015-02-09    20.498565
2015-02-10    20.283957
Freq: D, Name: Temperature, dtype: float64

В данном случае **D** означает Day - день. Разберем некоторые другие возможные варианты:

- D - day - день
- W - week - неделя
- M - month - месяц
- H - hour - час
- T - minute - минута
- S - second - секунда

Для закрепления материала выведите максимальные значения температуры по неделям:

In [ ]:
dataTraining.Temperature.resample('W').max()

date
2015-02-08    23.18
2015-02-15    22.29
Freq: W-SUN, Name: Temperature, dtype: float64

Или данные о максимальной температуре за периоды по 3 дня:

In [ ]:
dataTraining.Temperature.resample('3D').max()

date
2015-02-04    23.18
2015-02-07    23.10
2015-02-10    21.10
Freq: 3D, Name: Temperature, dtype: float64

> На этом урок по библиотекам Matplotlib и Pandas окончен! Вы сделали еще один огромный шаг в изучении программирования нейронных сетей.

Изученные библиотеки помогут вам в оценке данных. Теперь вы знаете, как визуализировать, добавлять, объединять, анализировать данные и переводить их в NumPy-массивы, создавать датасеты, работать со срезами, исправлять ошибки и работать с временными рядами.

До скорой встречи в следующем уроке!

**Содержание темы**

1. [Часть 1. Matplotlib](https://colab.research.google.com/drive/1MrLrc38lQWxjimSPKoePq22bav6X5zb9?usp=sharing)

2. Часть 2. Pandas